.profile {
  position: relative;
  height: calc(100vh - 100px);
  padding: 15px 15px 55px 115px;
  overflow: auto;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__gender-controls {
  display: flex;
}

.profile__change-pass button {
  width: 140px;
  margin-bottom: 10px;
  font-size: 14px;
}

.profile__server-err-message {
  margin: 15px 0;
  color: red;
}
