.events {
    position: relative;
    height: calc(100vh - 100px);
    padding: 15px 15px 55px 115px;
    overflow: auto;
  }
  
  .events__server-err-message {
    margin: 15px 0;
    color: red;
  }
  