.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/*  стили для input type="text, email, password, number" */
.input__control_default {
    display: block;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 5px;
}

.input__control_file {
    /* стили для input type="file" */
}

.input__control_date {
    /* стили для input type="date" */
}

.input__control_radio {
    /* стили для input type="radio" */
}

.input__control_checkbox {
    /* стили для input type="checkbox" */
}

.input__error {
    margin-bottom: 10px;
    color: red;
}

.input__invalid {
    border-color: red;
}