.textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.textarea__control {
    display: block;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ced4da;
    resize: none;
    background-color: #fff;
    border-radius: 5px;
}

.textarea__error {
    margin-bottom: 10px;
    color: red;
}

.textarea__invalid {
    border-color: red;
}