body {
  margin: 0;
  font-family: $primaryFont;
  font-size: 16px;
  color: $secondaryColor;
  background-color: $backgroundBody;
  line-height: 1.5;

  @media (max-width: $tabletMin) {
    font-size: 13px;
  }
}

.title {
  margin-bottom: 15px;
  font-family: $titleFont;
  text-transform: capitalize;
  color: $primaryColor;
  line-height: 1.2;
  text-align: center;

  span {
    color: $accentColor;
  }

  &_page {
    font-size: 45px;

    @media (max-width: $tabletMin) {
      font-size: 40px;
    }
  }

  &_item {
    font-size: 30px;

    @media (max-width: $tabletMin) {
      font-size: 25px;
    }
  }
}

a {
  transition: all .3s ease-in-out;
  color: inherit;

  &:hover {
    color: $accentColor;
  }
}