// fonts
$titleFont: 'Crete Round', serif;
$primaryFont: 'Montserrat', sans-serif;

// colors
$primaryColor: #343a40;
$secondaryColor: #333;
$accentColor: #007bff;
$accentColorOpacity: #007bff50;
$white: #fff;
$backgroundBody: #f0f0f0;
$controlsBorderColor: #ced4da;

// media query
$desctopMax: 1439px;
$desctop: 1199px;
$tabletMax: 991px;
$tablet: 767px;
$tabletMin: 575px;
$mobile: 374px;

