.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryColor;
    padding: 15px;
    height: 60px;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
}