.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343A40;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    color: #eee;
}