.dd-wrapper {
    position: relative;
}

.dd-header {
    display: flex;
    align-items: center;
    color: #eee;
}

.dd-header:hover {
    cursor: pointer;
}

.user-name {
    margin-right: 5px;
}

.dd-list {
    position: absolute;
    top: 100%;
    right: -7px;
    z-index: 1;
    width: 100px;
    height: 80px;
    padding: 10px;
    margin: 0;

    color: #eee;

    list-style-type: none;
    background-color: #343a40;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dd-list-item {
    text-align: center;
}

.dd-list-item button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}
